body {
    background-color: rgb(157, 157, 157);
}
header {
    background-color: rgb(98, 98, 98);
    border: 1px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 40px;
}
footer {
    background-color: rgb(45, 67, 67);
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}
h1 {
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
}
p {
    color: aliceblue;
    font-style: oblique;
}
img {
    border: 7px solid #3d7684;
    width: 40%;
}
ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

h2 {
    font-size: 30px;
}

.about-header {
    padding-top: 10px;

}
/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */